nav.mobile-menu
	.mobile-menu__wrap
		.mobile-menu__content
			button.mobile-menu__city(data-toggle='modal' data-target='#modal-city')
				.mobile-menu__city-title=current_filial.name
				.mobile-menu__change Изменить
			ul.mobile-menu__list
				li.mobile-menu__item
					a.accordion
						span Каталог
						span.mobile-menu__icon
							+icon('arrow-down')
					ul.catalog-m-menu.accordion-panel
						each category in catalog_menu_list
							each category_2 in category.get_child
								li.catalog-m-menu__item
									a
										span=category_2.name
										span.catalog-m-menu__icon
											+icon('arrow-right-2')
									include ./catalog-m-menu.pug
				li.mobile-menu__item
					a(href='/spec')
						span Акции
						span.mobile-menu__icon
							+icon('star')
				li.mobile-menu__item
					a(href='/proizvodstvo') Производство
				li.mobile-menu__item
					a(href='/uslugi') Услуги
				li.mobile-menu__item
					a(href='/dostavka-i-oplata') Доставка
				li.mobile-menu__item
					a.accordion
						span Компания
						span.mobile-menu__icon
							+icon('arrow-down')
					ul.catalog-m-menu.accordion-panel
						li.catalog-m-menu__item
							a(href='/o-kompanii') О нас
						li.catalog-m-menu__item
							a(href='/articles') Блог
						li.catalog-m-menu__item
							a(href='/news') Новости
						li.catalog-m-menu__item
							a(href='/vakansii') Вакансии
				li.mobile-menu__item
					a(href='/contacts') Контакты
			.mobile-menu__contacts
				.mobile-menu__phone
					a.txt--smbld16(href='tel:#{current_filial.phone}')=current_filial.phone
				.mobile-menu__phone
					a.txt--smbld14(href='tel:#{current_filial.phone_dop}')=current_filial.phone_dop
				a.mobile-menu__mail.txt--smbld16(href='mailto:#{current_filial.email}')=current_filial.email
				button.mobile-menu__callback.btn.btn--h52.btn--br50(type='button', data-toggle='modal' data-target='#modal-callback')
					+icon('phone')
					span Обратный звонок
	.mobile-menu__overlay