.catalog-card
	a.catalog-card__wrap(href="#{category.slug}")
		.catalog-card__img
			img(src="#{category.image}", alt="#{category.name}")
		.catalog-card__content
			.catalog-card__count #{category.children|length} видов
			.catalog-card__title=category.name
		.catalog-card__btn.btn.btn--circle
			+icon('arrow-right')
	.catalog-card__hidden
		a.catalog-card__h-title(href='#')=category.name
		.catalog-card__h-wrap
			ul.catalog-card__list
				each sub_category in category.children
					li
						a(href="#{sub_category.slug}")=sub_category.name