.catalog-card
	a.catalog-card__wrap(href=product.href)
		.catalog-card__img
			img(src=product.thumb, alt=product.title)
		.catalog-card__content
			.catalog-card__count=product.count
			.catalog-card__title=product.title
		.catalog-card__btn.btn.btn--circle
			+icon('arrow-right')
	.catalog-card__hidden
		a.catalog-card__h-title(href=product.href) #{product.title}
		.catalog-card__h-wrap
			ul.catalog-card__list
				each category in product.categories
					li
						a(href=category.href) #{category.name}