.catalog-menu
	.catalog-menu__left
		h2.catalog-menu__title=sub_category.name
		ul.catalog-menu__list
			each sub_sub_category in sub_category.get_child
				li(data-category-id=sub_sub_category.id)
					a(href=sub_sub_category.url)
						| #{sub_sub_category.name}
						+icon('arrow-right')
		if sub_sub_category.get_child
			each sub_sub_sub_category in sub_sub_category.get_child
				.catalog-menu__catalog-submenu.catalog-submenu(data-category-id=sub_sub_sub_category.id)
					.catalog-submenu__wrap
						.catalog-submenu__item
							h3.catalog-submenu__title=sub_sub_sub_category.name
							ul.catalog-submenu__list
								each sub_sub_sub_sub_category in sub_sub_sub_category.get_child
									li
										a(href=sub_sub_sub_sub_category.url)=sub_sub_sub_sub_category.name