.top-line
	.top-line__left
		a.top-line__logo.logo(href='/')
			.logo__img
				img(src='#{static_url}images/general/logo-min.svg', alt='Велунд сталь')
			.logo__text
				img(src='#{static_url}images/general/logo-text.svg', alt='Велунд сталь')
		nav.top-line__nav
			ul.top-line__navitagion-panel.txt--mdm14
				each item in main_menu_list
					if not item.is_hidden_child and item.get_child
						li.catalog-list
							a(href=item.url)=item.name
								+icon('arrow-down')
							.catalog-list__wrap
								ul.catalog-list__list
									each sub_item in item.get_child
										li
											a(href=sub_item.url)=sub_item.name
												+icon('arrow-right')
					else
						li
							a(href=item.url)=item.name
					
				//- li
				//- 	a(href='#') Услуги
				//- li
				//- 	a(href='#') Доставка
				//- li.catalog-list
				//- 	a(href='#')
				//- 		| Компания
				//- 		+icon('arrow-down')
				//- 	.catalog-list__wrap
				//- 		ul.catalog-list__list
				//- 			li
				//- 				a(href='#')
				//- 					| О нас
				//- 					+icon('arrow-right')
				//- 			li
				//- 				a(href='#')
				//- 					| Блог
				//- 					+icon('arrow-right')
				//- 			li
				//- 				a(href='#')
				//- 					| Новости
				//- 					+icon('arrow-right')
				//- 			li
				//- 				a(href='#')
				//- 					| Вакансии
				//- 					+icon('arrow-right')
				//- li
				//- 	a(href='#') Контакты
	.top-line__right
		.top-line__contacts
			.top-line__info
				.top-line__col
					a.txt--mdm16(href='mailto:#{current_filial.email}')=current_filial.email
					#open-city.top-line__city.txt--mdm14
						span=current_filial.name
				.top-line__col
					a.txt--mdm16(href='tel:+#{current_filial.phone}')=current_filial.phone
					a.txt--mdm14(href='tel:+#{current_filial.phone}')=current_filial.phone
			button#open-callback.top-line__callback.btn.btn--circle.btn--white5(type='button')
				+icon('phone')
		.top-line__mobile
			button#open-search.top-line__m-search.btn.btn--circle.btn--trparent(type='button')
				+icon('search')
				+icon('close')
			button#open-basket.top-line__m-basket.btn.btn--circle.btn--trparent(type='button')
				+icon('basket')
				+icon('close')
			button#mobile-menu.top-line__m-menu.btn.btn--circle.btn--trparent(type='button')
				+icon('hamburger')
				+icon('close')
