section.p-about
	.container-xxl
		h1.txt--bld40 О нас
		.p-about__wrap
			.p-about__callback.b-all-callback
				.b-all-callback__content.b-all-callback__content--wdh776
					.b-all-callback__title Группа компаний «Велунд Сталь»
					.b-all-callback__text Производитель и поставщик металлопроката. Мы помогаем выбрать металлопродукцию и сами проектируем технологическое оборудование с учетом ваших требований.
					.b-all-callback__list
						.b-all-callback__icon
							+icon('shipment')
							span Поставка готовых изделий
						.b-all-callback__icon
							+icon('production')
							span Изготовление на заказ
						.b-all-callback__icon
							+icon('processing')
							span Услуги по обработке металла
				.b-all-callback__wrap-img
					.b-all-callback__img
						img(src='#{static_url}images/general/callback-5.svg')
			.p-about__content
				.p-about__grid-block
					.p-about__block
						h2.txt--bld24 Мы производим
						ul
							li Цветной, стальной и чугунный прокат
							li Сплавы: прецизионные и тугоплавкие, ферросплавы, баббиты
							li Редкоземельные металлы
							li Полимеры: ПВХ и композиты
					.p-about__block
						h2.txt--bld24 Оплата
						p 
							| Постоянным покупателям предоставляем отсрочку платежа.
							| В качестве платежа мы принимаем:
						.p-about__payment
							.p-about__icon
								+icon('credit-card')
								span Наличные средства в офисах компании
							.p-about__icon
								+icon('coins')
								span Безналичные переводы на расчетный счет
					.p-about__block.b-all-map-filial
						h2.txt--bld24 Самовывоз и доставка
						p
							| Наши филиалы в России и Казахстане отмечены на карте.
							| Вы можете забрать товары со склада любого из них или заказать доставку.
					.p-about__numbers
						.p-about__number
							.p-about__num 2020
							.p-about__text год основания
						.p-about__number
							.p-about__num 35
							.p-about__text филиалов в России и Казахстане
						.p-about__number
							.p-about__num 4500 
							.p-about__text деталей производим каждый час
				.p-about__map-filial.b-all-map-filial
					.b-all-map-filial__content
						.b-all-map-filial__item
							h3.txt--bld18 Россия
							.b-all-map-filial__map.b-all-map-filial__map--ru
								img(src='#{static_url}images/content/ru.png', alt='Карта России')
								svg(viewBox='0 0 500 275' fill='none' xmlns='http://www.w3.org/2000/svg')
									g.b-all-map-filial__mark(data-city='Москва' data-phone='+7 (499) 455-72-95' data-mail='moscow@gkws.ru')
										rect(x='59' y='170' width='8' height='7' fill='white')
										path(fill-rule='evenodd' clip-rule='evenodd' d='M66.5782 181.058C65.3822 182.217 64.1117 183.448 63 185C61.8888 183.448 60.6186 182.217 59.4225 181.058C57.0675 178.776 55 176.772 55 173.148C55 168.479 58.4173 165 63 165C67.5842 165 71 168.479 71 173.148C71 176.773 68.9332 178.776 66.5782 181.058ZM66.0769 173.125C66.0769 174.85 64.6996 176.25 62.9994 176.25C61.3004 176.25 59.9231 174.85 59.9231 173.125C59.9231 171.399 61.3004 170 62.9994 170C64.6996 170 66.0769 171.399 66.0769 173.125Z')
									g.b-all-map-filial__mark(data-city='Архангельск' data-phone='+7 (818) 245-76-56' data-mail='arhangelsk@gkws.ru')
										rect(x='137' y='75' width='8' height='7' fill='white')
										path(fill-rule='evenodd' clip-rule='evenodd' d='M145.078 85.5577C143.882 86.7167 142.612 87.9478 141.5 89.5C140.389 87.9483 139.119 86.7173 137.923 85.5582C135.567 83.2759 133.5 81.2723 133.5 77.6482C133.5 72.979 136.917 69.5 141.5 69.5C146.084 69.5 149.5 72.979 149.5 77.6481C149.5 81.2727 147.433 83.2755 145.078 85.5577ZM144.577 77.625C144.577 79.3502 143.2 80.75 141.499 80.75C139.8 80.75 138.423 79.3502 138.423 77.625C138.423 75.8986 139.8 74.5 141.499 74.5C143.2 74.5 144.577 75.8986 144.577 77.625Z')
									g.b-all-map-filial__mark(data-city='Курск' data-phone='+7 (471) 225-05-38' data-mail='kursk@gkws.ru')
										rect(x='51' y='223' width='8' height='7' fill='white')
										path(fill-rule='evenodd' clip-rule='evenodd' d='M57.5782 234.058C56.3822 235.217 55.1117 236.448 54 238C52.8888 236.448 51.6186 235.217 50.4225 234.058C48.0675 231.776 46 229.772 46 226.148C46 221.479 49.4173 218 54 218C58.5842 218 62 221.479 62 226.148C62 229.773 59.9332 231.776 57.5782 234.058ZM57.0769 226.125C57.0769 227.85 55.6996 229.25 53.9994 229.25C52.3004 229.25 50.9231 227.85 50.9231 226.125C50.9231 224.399 52.3004 223 53.9994 223C55.6996 223 57.0769 224.399 57.0769 226.125Z')
									g.b-all-map-filial__mark(data-city='Смоленск' data-phone='+7 (481) 251-55-96' data-mail='smolensk@gkws.ru')
										rect(x='7' y='188' width='8' height='7' fill='white')
										path(fill-rule='evenodd' clip-rule='evenodd' d='M14.5782 199.058C13.3822 200.217 12.1117 201.448 11 203C9.88877 201.448 8.61855 200.217 7.4225 199.058C5.06748 196.776 3 194.772 3 191.148C3 186.479 6.41726 183 11 183C15.5842 183 19 186.479 19 191.148C19 194.773 16.9332 196.776 14.5782 199.058ZM14.0769 191.125C14.0769 192.85 12.6996 194.25 10.9994 194.25C9.30042 194.25 7.92308 192.85 7.92308 191.125C7.92308 189.399 9.30042 188 10.9994 188C12.6996 188 14.0769 189.399 14.0769 191.125Z')
									g.b-all-map-filial__mark(data-city='Санкт-Петербург' data-phone='+7 (812) 407-30-62' data-mail='stpetersburg@gkws.ru')
										rect(x='24' y='153' width='8' height='7' fill='white')
										path(fill-rule='evenodd' clip-rule='evenodd' d='M31.5782 164.058C30.3822 165.217 29.1117 166.448 28 168C26.8888 166.448 25.6186 165.217 24.4225 164.058C22.0675 161.776 20 159.772 20 156.148C20 151.479 23.4173 148 28 148C32.5842 148 36 151.479 36 156.148C36 159.773 33.9332 161.776 31.5782 164.058ZM31.0769 156.125C31.0769 157.85 29.6996 159.25 27.9994 159.25C26.3004 159.25 24.9231 157.85 24.9231 156.125C24.9231 154.399 26.3004 153 27.9994 153C29.6996 153 31.0769 154.399 31.0769 156.125Z')
									g.b-all-map-filial__mark(data-city='Екатеринбург' data-phone='+7 (343) 363-20-06' data-mail='ekb@gkws.ru')
										rect(x='172' y='144' width='8' height='7' fill='white')
										path(fill-rule='evenodd' clip-rule='evenodd' d='M179.578 156.058C178.382 157.217 177.112 158.448 176 160C174.889 158.448 173.619 157.217 172.423 156.058C170.067 153.776 168 151.772 168 148.148C168 143.479 171.417 140 176 140C180.584 140 184 143.479 184 148.148C184 151.773 181.933 153.776 179.578 156.058ZM179.077 148.125C179.077 149.85 177.7 151.25 175.999 151.25C174.3 151.25 172.923 149.85 172.923 148.125C172.923 146.399 174.3 145 175.999 145C177.7 145 179.077 146.399 179.077 148.125Z')
									g.b-all-map-filial__mark(data-city='Краснодар' data-phone='+7 (861) 205-09-76' data-mail='krasnodar@gkws.ru')
										rect(x='59' y='249' width='8' height='7' fill='white')
										path(fill-rule='evenodd' clip-rule='evenodd' d='M66.5782 260.058C65.3822 261.217 64.1117 262.448 63 264C61.8888 262.448 60.6186 261.217 59.4225 260.058C57.0675 257.776 55 255.772 55 252.148C55 247.479 58.4173 244 63 244C67.5842 244 71 247.479 71 252.148C71 255.773 68.9332 257.776 66.5782 260.058ZM66.0769 252.125C66.0769 253.85 64.6996 255.25 62.9994 255.25C61.3004 255.25 59.9231 253.85 59.9231 252.125C59.9231 250.399 61.3004 249 62.9994 249C64.6996 249 66.0769 250.399 66.0769 252.125Z')
									g.b-all-map-filial__mark(data-city='Мурманск' data-phone='+7 (815) 262-90-56' data-mail='murmansk@gkws.ru')
										rect(x='85' y='57' width='8' height='7' fill='white')
										path(fill-rule='evenodd' clip-rule='evenodd' d='M92.5782 68.0577C91.3822 69.2167 90.1117 70.4478 89 72C87.8888 70.4483 86.6186 69.2173 85.4225 68.0582C83.0675 65.7759 81 63.7723 81 60.1482C81 55.479 84.4173 52 89 52C93.5842 52 97 55.479 97 60.1481C97 63.7727 94.9332 65.7755 92.5782 68.0577ZM92.0769 60.125C92.0769 61.8502 90.6996 63.25 88.9994 63.25C87.3004 63.25 85.9231 61.8502 85.9231 60.125C85.9231 58.3986 87.3004 57 88.9994 57C90.6996 57 92.0769 58.3986 92.0769 60.125Z')
									g.b-all-map-filial__mark(data-city='Владивосток' data-phone='+7 (423) 202-68-60' data-mail='vladivostok@gkws.ru')
										rect(x='389.5' y='231' width='8' height='7' fill='white')
										path(fill-rule='evenodd' clip-rule='evenodd' d='M397.078 242.558C395.882 243.717 394.612 244.948 393.5 246.5C392.389 244.948 391.119 243.717 389.923 242.558C387.567 240.276 385.5 238.272 385.5 234.648C385.5 229.979 388.917 226.5 393.5 226.5C398.084 226.5 401.5 229.979 401.5 234.648C401.5 238.273 399.433 240.276 397.078 242.558ZM396.577 234.625C396.577 236.35 395.2 237.75 393.499 237.75C391.8 237.75 390.423 236.35 390.423 234.625C390.423 232.899 391.8 231.5 393.499 231.5C395.2 231.5 396.577 232.899 396.577 234.625Z')
									g.b-all-map-filial__mark(data-city='Орёл' data-phone='+7 (486) 230-34-42' data-mail='orel@gkws.ru')
										rect(x='33' y='205' width='8' height='7' fill='white')
										path(fill-rule='evenodd' clip-rule='evenodd' d='M40.5782 216.058C39.3822 217.217 38.1117 218.448 37 220C35.8888 218.448 34.6186 217.217 33.4225 216.058C31.0675 213.776 29 211.772 29 208.148C29 203.479 32.4173 200 37 200C41.5842 200 45 203.479 45 208.148C45 211.773 42.9332 213.776 40.5782 216.058ZM40.0769 208.125C40.0769 209.85 38.6996 211.25 36.9994 211.25C35.3004 211.25 33.9231 209.85 33.9231 208.125C33.9231 206.399 35.3004 205 36.9994 205C38.6996 205 40.0769 206.399 40.0769 208.125Z')
									g.b-all-map-filial__mark(data-city='Астрахань' data-phone='+7 (851) 299-08-25' data-mail='astrahan@gkws.ru')
										rect(x='94' y='240' width='8' height='7' fill='white')
										path(fill-rule='evenodd' clip-rule='evenodd' d='M101.578 252.058C100.382 253.217 99.1117 254.448 98 256C96.8888 254.448 95.6186 253.217 94.4225 252.058C92.0675 249.776 90 247.772 90 244.148C90 239.479 93.4173 236 98 236C102.584 236 106 239.479 106 244.148C106 247.773 103.933 249.776 101.578 252.058ZM101.077 244.125C101.077 245.85 99.6996 247.25 97.9994 247.25C96.3004 247.25 94.9231 245.85 94.9231 244.125C94.9231 242.399 96.3004 241 97.9994 241C99.6996 241 101.077 242.399 101.077 244.125Z')
									g.b-all-map-filial__mark(data-city='Саранск' data-phone='+7 (834) 222-95-93' data-mail='saransk@gkws.ru')
										rect(x='102.5' y='188' width='8' height='7' fill='white')
										path(fill-rule='evenodd' clip-rule='evenodd' d='M110.578 200.058C109.382 201.217 108.112 202.448 107 204C105.889 202.448 104.619 201.217 103.423 200.058C101.067 197.776 99 195.772 99 192.148C99 187.479 102.417 184 107 184C111.584 184 115 187.479 115 192.148C115 195.773 112.933 197.776 110.578 200.058ZM110.077 192.125C110.077 193.85 108.7 195.25 106.999 195.25C105.3 195.25 103.923 193.85 103.923 192.125C103.923 190.399 105.3 189 106.999 189C108.7 189 110.077 190.399 110.077 192.125Z')
									g.b-all-map-filial__mark(data-city='Новосибирск' data-phone='+7 (383) 388-49-20' data-mail='novosibirsk@gkws.ru')
										rect(x='224' y='188' width='8' height='7' fill='white')
										path(fill-rule='evenodd' clip-rule='evenodd' d='M231.578 199.058C230.382 200.217 229.112 201.448 228 203C226.889 201.448 225.619 200.217 224.423 199.058C222.067 196.776 220 194.772 220 191.148C220 186.479 223.417 183 228 183C232.584 183 236 186.479 236 191.148C236 194.773 233.933 196.776 231.578 199.058ZM231.077 191.125C231.077 192.85 229.7 194.25 227.999 194.25C226.3 194.25 224.923 192.85 224.923 191.125C224.923 189.399 226.3 188 227.999 188C229.7 188 231.077 189.399 231.077 191.125Z')
									g.b-all-map-filial__mark(data-city='Тула' data-phone='+7 (487) 257-30-65' data-mail='tula@gkws.ru')
										rect(x='59' y='196' width='8' height='7' fill='white')
										path(fill-rule='evenodd' clip-rule='evenodd' d='M66.5782 207.058C65.3822 208.217 64.1117 209.448 63 211C61.8888 209.448 60.6186 208.217 59.4225 207.058C57.0675 204.776 55 202.772 55 199.148C55 194.479 58.4173 191 63 191C67.5842 191 71 194.479 71 199.148C71 202.773 68.9332 204.776 66.5782 207.058ZM66.0769 199.125C66.0769 200.85 64.6996 202.25 62.9994 202.25C61.3004 202.25 59.9231 200.85 59.9231 199.125C59.9231 197.399 61.3004 196 62.9994 196C64.6996 196 66.0769 197.399 66.0769 199.125Z')
									g.b-all-map-filial__mark(data-city='Нижний Новгород' data-phone='+7 (831) 260-12-90' data-mail='nnovgorod@gkws.ru')
										rect(x='111' y='153' width='8' height='7' fill='white')
										path(fill-rule='evenodd' clip-rule='evenodd' d='M118.578 165.058C117.382 166.217 116.112 167.448 115 169C113.889 167.448 112.619 166.217 111.423 165.058C109.067 162.776 107 160.772 107 157.148C107 152.479 110.417 149 115 149C119.584 149 123 152.479 123 157.148C123 160.773 120.933 162.776 118.578 165.058ZM118.077 157.125C118.077 158.85 116.7 160.25 114.999 160.25C113.3 160.25 111.923 158.85 111.923 157.125C111.923 155.399 113.3 154 114.999 154C116.7 154 118.077 155.399 118.077 157.125Z')
									g.b-all-map-filial__mark(data-city='Казань' data-phone='+7 (843) 500-50-83' data-mail='kazan@gkws.ru')
										rect(x='146' y='162' width='8' height='7' fill='white')
										path(fill-rule='evenodd' clip-rule='evenodd' d='M153.578 173.058C152.382 174.217 151.112 175.448 150 177C148.889 175.448 147.619 174.217 146.423 173.058C144.067 170.776 142 168.772 142 165.148C142 160.479 145.417 157 150 157C154.584 157 158 160.479 158 165.148C158 168.773 155.933 170.776 153.578 173.058ZM153.077 165.125C153.077 166.85 151.7 168.25 149.999 168.25C148.3 168.25 146.923 166.85 146.923 165.125C146.923 163.399 148.3 162 149.999 162C151.7 162 153.077 163.399 153.077 165.125Z')
									g.b-all-map-filial__mark(data-city='Липецк' data-phone='+7 (474) 256-33-71' data-mail='lipetsk@gkws.ru')
										rect(x='76.5' y='214' width='8' height='7' fill='white')
										path(fill-rule='evenodd' clip-rule='evenodd' d='M83.5782 226.058C82.3822 227.217 81.1117 228.448 80 230C78.8888 228.448 77.6186 227.217 76.4225 226.058C74.0675 223.776 72 221.772 72 218.148C72 213.479 75.4173 210 80 210C84.5842 210 88 213.479 88 218.148C88 221.773 85.9332 223.776 83.5782 226.058ZM83.0769 218.125C83.0769 219.85 81.6996 221.25 79.9994 221.25C78.3004 221.25 76.9231 219.85 76.9231 218.125C76.9231 216.399 78.3004 215 79.9994 215C81.6996 215 83.0769 216.399 83.0769 218.125Z')
						.b-all-map-filial__item
							h3.txt--bld18 Казахстан
							.b-all-map-filial__map.b-all-map-filial__map--kz
								img(src='#{static_url}images/content/kz.png', alt='Карта Казахстана')
								svg(viewBox='0 0 500 275' fill='none' xmlns='http://www.w3.org/2000/svg')
									g.b-all-map-filial__mark(data-city='Атырау' data-phone='+7 (7122) 950258' data-mail='aturay@gkws.kz')
										rect(x='68' y='154' width='8' height='7' fill='white')
										path(fill-rule='evenodd' clip-rule='evenodd' d='M75.5782 165.058C74.3822 166.217 73.1117 167.448 72 169C70.8888 167.448 69.6186 166.217 68.4225 165.058C66.0675 162.776 64 160.772 64 157.148C64 152.479 67.4173 149 72 149C76.5842 149 80 152.479 80 157.148C80 160.773 77.9332 162.776 75.5782 165.058ZM75.0769 157.125C75.0769 158.85 73.6996 160.25 71.9994 160.25C70.3004 160.25 68.9231 158.85 68.9231 157.125C68.9231 155.399 70.3004 154 71.9994 154C73.6996 154 75.0769 155.399 75.0769 157.125Z')
									g.b-all-map-filial__mark(data-city='Актобе' data-phone='+7 (7132) 941591' data-mail='aktobe@gkws.kz')
										rect(x='120' y='102' width='8' height='7' fill='white')
										path(fill-rule='evenodd' clip-rule='evenodd' d='M127.578 113.058C126.382 114.217 125.112 115.448 124 117C122.889 115.448 121.619 114.217 120.423 113.058C118.067 110.776 116 108.772 116 105.148C116 100.479 119.417 97 124 97C128.584 97 132 100.479 132 105.148C132 108.773 129.933 110.776 127.578 113.058ZM127.077 105.125C127.077 106.85 125.7 108.25 123.999 108.25C122.3 108.25 120.923 106.85 120.923 105.125C120.923 103.399 122.3 102 123.999 102C125.7 102 127.077 103.399 127.077 105.125Z')
									g.b-all-map-filial__mark(data-city='Уральск' data-phone='+7 (7112) 981720' data-mail='uralsk@gkws.kz')
										rect(x='50' y='84' width='8' height='7' fill='white')
										path(fill-rule='evenodd' clip-rule='evenodd' d='M57.5782 95.0577C56.3822 96.2167 55.1117 97.4478 54 99C52.8888 97.4483 51.6186 96.2173 50.4225 95.0582C48.0675 92.7759 46 90.7723 46 87.1482C46 82.479 49.4173 79 54 79C58.5842 79 62 82.479 62 87.1481C62 90.7727 59.9332 92.7755 57.5782 95.0577ZM57.0769 87.125C57.0769 88.8502 55.6996 90.25 53.9994 90.25C52.3004 90.25 50.9231 88.8502 50.9231 87.125C50.9231 85.3986 52.3004 84 53.9994 84C55.6996 84 57.0769 85.3986 57.0769 87.125Z')
									g.b-all-map-filial__mark(data-city='Актау' data-phone='+7 (7292) 468770' data-mail='aktau@gkws.kz')
										rect(x='68' y='215' width='8' height='7' fill='white')
										path(fill-rule='evenodd' clip-rule='evenodd' d='M75.5782 226.058C74.3822 227.217 73.1117 228.448 72 230C70.8888 228.448 69.6186 227.217 68.4225 226.058C66.0675 223.776 64 221.772 64 218.148C64 213.479 67.4173 210 72 210C76.5842 210 80 213.479 80 218.148C80 221.773 77.9332 223.776 75.5782 226.058ZM75.0769 218.125C75.0769 219.85 73.6996 221.25 71.9994 221.25C70.3004 221.25 68.9231 219.85 68.9231 218.125C68.9231 216.399 70.3004 215 71.9994 215C73.6996 215 75.0769 216.399 75.0769 218.125Z')
									g.b-all-map-filial__mark(data-city='Тараз' data-phone='+7 (7262) 941240' data-mail='taraz@gkws.kz')
										rect(x='337' y='206' width='8' height='7' fill='white')
										path(fill-rule='evenodd' clip-rule='evenodd' d='M344.578 217.058C343.382 218.217 342.112 219.448 341 221C339.889 219.448 338.619 218.217 337.423 217.058C335.067 214.776 333 212.772 333 209.148C333 204.479 336.417 201 341 201C345.584 201 349 204.479 349 209.148C349 212.773 346.933 214.776 344.578 217.058ZM344.077 209.125C344.077 210.85 342.7 212.25 340.999 212.25C339.3 212.25 337.923 210.85 337.923 209.125C337.923 207.399 339.3 206 340.999 206C342.7 206 344.077 207.399 344.077 209.125Z')
									g.b-all-map-filial__mark(data-city='Шымкент' data-phone='+7 (7252) 610251' data-mail='shymkent@gkws.kz')
										rect(x='302' y='215' width='8' height='7' fill='white')
										path(fill-rule='evenodd' clip-rule='evenodd' d='M309.578 226.058C308.382 227.217 307.112 228.448 306 230C304.889 228.448 303.619 227.217 302.423 226.058C300.067 223.776 298 221.772 298 218.148C298 213.479 301.417 210 306 210C310.584 210 314 213.479 314 218.148C314 221.773 311.933 223.776 309.578 226.058ZM309.077 218.125C309.077 219.85 307.7 221.25 305.999 221.25C304.3 221.25 302.923 219.85 302.923 218.125C302.923 216.399 304.3 215 305.999 215C307.7 215 309.077 216.399 309.077 218.125Z')
									g.b-all-map-filial__mark(data-city='Талдыкорган' data-phone='+7 (7282) 601166' data-mail='taldukorgan@gkws.kz')
										rect(x='425' y='162' width='8' height='7' fill='white')
										path(fill-rule='evenodd' clip-rule='evenodd' d='M432.078 173.558C430.882 174.717 429.612 175.948 428.5 177.5C427.389 175.948 426.119 174.717 424.923 173.558C422.567 171.276 420.5 169.272 420.5 165.648C420.5 160.979 423.917 157.5 428.5 157.5C433.084 157.5 436.5 160.979 436.5 165.648C436.5 169.273 434.433 171.276 432.078 173.558ZM431.577 165.625C431.577 167.35 430.2 168.75 428.499 168.75C426.8 168.75 425.423 167.35 425.423 165.625C425.423 163.899 426.8 162.5 428.499 162.5C430.2 162.5 431.577 163.899 431.577 165.625Z')
									g.b-all-map-filial__mark(data-city='Костанай' data-phone='+7 (7142) 524026' data-mail='kostanay@gkws.kz')
										rect(x='216' y='49' width='8' height='7' fill='white')
										path(fill-rule='evenodd' clip-rule='evenodd' d='M223.078 59.8874C221.882 61.0464 220.612 62.2775 219.5 63.8297C218.389 62.278 217.119 61.047 215.923 59.8879C213.567 57.6056 211.5 55.602 211.5 51.9779C211.5 47.3087 214.917 43.8297 219.5 43.8297C224.084 43.8297 227.5 47.3087 227.5 51.9778C227.5 55.6024 225.433 57.6052 223.078 59.8874ZM222.577 51.9547C222.577 53.6799 221.2 55.0797 219.499 55.0797C217.8 55.0797 216.423 53.6799 216.423 51.9547C216.423 50.2283 217.8 48.8297 219.499 48.8297C221.2 48.8297 222.577 50.2283 222.577 51.9547Z')
									g.b-all-map-filial__mark(data-city='Петропавловск' data-phone='+7 (7152) 630115' data-mail='petropavlovsk@gkws.kz')
										rect(x='259' y='15' width='8' height='7' fill='white')
										path(fill-rule='evenodd' clip-rule='evenodd' d='M266.578 26.0577C265.382 27.2167 264.112 28.4478 263 30C261.889 28.4483 260.619 27.2173 259.423 26.0582C257.067 23.7759 255 21.7723 255 18.1482C255 13.479 258.417 10 263 10C267.584 10 271 13.479 271 18.1481C271 21.7727 268.933 23.7755 266.578 26.0577ZM266.077 18.125C266.077 19.8502 264.7 21.25 262.999 21.25C261.3 21.25 259.923 19.8502 259.923 18.125C259.923 16.3986 261.3 15 262.999 15C264.7 15 266.077 16.3986 266.077 18.125Z')
									g.b-all-map-filial__mark(data-city='Нур-Султан' data-phone='+7 (7172) 696113' data-mail='info@gkws.kz')
										rect(x='294' y='84' width='8' height='7' fill='white')
										path(fill-rule='evenodd' clip-rule='evenodd' d='M301.578 95.0577C300.382 96.2167 299.112 97.4478 298 99C296.889 97.4483 295.619 96.2173 294.423 95.0582C292.067 92.7759 290 90.7723 290 87.1482C290 82.479 293.417 79 298 79C302.584 79 306 82.479 306 87.1481C306 90.7727 303.933 92.7755 301.578 95.0577ZM301.077 87.125C301.077 88.8502 299.7 90.25 297.999 90.25C296.3 90.25 294.923 88.8502 294.923 87.125C294.923 85.3986 296.3 84 297.999 84C299.7 84 301.077 85.3986 301.077 87.125Z')
									g.b-all-map-filial__mark(data-city='Павлодар' data-phone='+7 (7182) 764073' data-mail='pavlodar@gkws.kz')
										rect(x='363' y='58' width='8' height='7' fill='white')
										path(fill-rule='evenodd' clip-rule='evenodd' d='M370.578 69.0577C369.382 70.2167 368.112 71.4478 367 73C365.889 71.4483 364.619 70.2173 363.423 69.0582C361.067 66.7759 359 64.7723 359 61.1482C359 56.479 362.417 53 367 53C371.584 53 375 56.479 375 61.1481C375 64.7727 372.933 66.7755 370.578 69.0577ZM370.077 61.125C370.077 62.8502 368.7 64.25 366.999 64.25C365.3 64.25 363.923 62.8502 363.923 61.125C363.923 59.3986 365.3 58 366.999 58C368.7 58 370.077 59.3986 370.077 61.125Z')
									g.b-all-map-filial__mark(data-city='Усть-Каменогорск' data-phone='+7 (7232) 489115' data-mail='ustkam@gkws.kz')
										rect(x='450' y='102' width='8' height='7' fill='white')
										path(fill-rule='evenodd' clip-rule='evenodd' d='M457.578 113.058C456.382 114.217 455.112 115.448 454 117C452.889 115.448 451.619 114.217 450.423 113.058C448.067 110.776 446 108.772 446 105.148C446 100.479 449.417 97 454 97C458.584 97 462 100.479 462 105.148C462 108.773 459.933 110.776 457.578 113.058ZM457.077 105.125C457.077 106.85 455.7 108.25 453.999 108.25C452.3 108.25 450.923 106.85 450.923 105.125C450.923 103.399 452.3 102 453.999 102C455.7 102 457.077 103.399 457.077 105.125Z')
									g.b-all-map-filial__mark(data-city='Семей' data-phone='+7 (7222) 550825' data-mail='semey@gkws.kz')
										rect(x='416' y='84' width='8' height='7' fill='white')
										path(fill-rule='evenodd' clip-rule='evenodd' d='M423.578 95.0577C422.382 96.2167 421.112 97.4478 420 99C418.889 97.4483 417.619 96.2173 416.423 95.0582C414.067 92.7759 412 90.7723 412 87.1482C412 82.479 415.417 79 420 79C424.584 79 428 82.479 428 87.1481C428 90.7727 425.933 92.7755 423.578 95.0577ZM423.077 87.125C423.077 88.8502 421.7 90.25 419.999 90.25C418.3 90.25 416.923 88.8502 416.923 87.125C416.923 85.3986 418.3 84 419.999 84C421.7 84 423.077 85.3986 423.077 87.125Z')
									g.b-all-map-filial__mark(data-city='Алматы' data-phone='+7 (7273) 123823' data-mail='almaty@gkws.kz')
										rect(x='407' y='198' width='8' height='7' fill='white')
										path(fill-rule='evenodd' clip-rule='evenodd' d='M414.578 209.058C413.382 210.217 412.112 211.448 411 213C409.889 211.448 408.619 210.217 407.423 209.058C405.067 206.776 403 204.772 403 201.148C403 196.479 406.417 193 411 193C415.584 193 419 196.479 419 201.148C419 204.773 416.933 206.776 414.578 209.058ZM414.077 201.125C414.077 202.85 412.7 204.25 410.999 204.25C409.3 204.25 407.923 202.85 407.923 201.125C407.923 199.399 409.3 198 410.999 198C412.7 198 414.077 199.399 414.077 201.125Z')
									g.b-all-map-filial__mark(data-city='Караганда' data-phone='+7 (7212) 940410' data-mail='karaganda@gkws.kz')
										rect(x='320' y='120' width='8' height='7' fill='white')
										path(fill-rule='evenodd' clip-rule='evenodd' d='M327.578 131.058C326.382 132.217 325.112 133.448 324 135C322.889 133.448 321.619 132.217 320.423 131.058C318.067 128.776 316 126.772 316 123.148C316 118.479 319.417 115 324 115C328.584 115 332 118.479 332 123.148C332 126.773 329.933 128.776 327.578 131.058ZM327.077 123.125C327.077 124.85 325.7 126.25 323.999 126.25C322.3 126.25 320.923 124.85 320.923 123.125C320.923 121.399 322.3 120 323.999 120C325.7 120 327.077 121.399 327.077 123.125Z')
									g.b-all-map-filial__mark(data-city='Жезказган' data-phone='+7 (7102) 925508' data-mail='zhezkazgan@gkws.kz')
										rect(x='259' y='145' width='8' height='7' fill='white')
										path(fill-rule='evenodd' clip-rule='evenodd' d='M266.578 156.058C265.382 157.217 264.112 158.448 263 160C261.889 158.448 260.619 157.217 259.423 156.058C257.067 153.776 255 151.772 255 148.148C255 143.479 258.417 140 263 140C267.584 140 271 143.479 271 148.148C271 151.773 268.933 153.776 266.578 156.058ZM266.077 148.125C266.077 149.85 264.7 151.25 262.999 151.25C261.3 151.25 259.923 149.85 259.923 148.125C259.923 146.399 261.3 145 262.999 145C264.7 145 266.077 146.399 266.077 148.125Z')
									g.b-all-map-filial__mark(data-city='Кызылорда' data-phone='+7 (7242) 907034' data-mail='kyzylorda@gkws.kz')
										rect(x='242' y='198' width='8' height='7' fill='white')
										path(fill-rule='evenodd' clip-rule='evenodd' d='M249.578 209.058C248.382 210.217 247.112 211.448 246 213C244.889 211.448 243.619 210.217 242.423 209.058C240.067 206.776 238 204.772 238 201.148C238 196.479 241.417 193 246 193C250.584 193 254 196.479 254 201.148C254 204.773 251.933 206.776 249.578 209.058ZM249.077 201.125C249.077 202.85 247.7 204.25 245.999 204.25C244.3 204.25 242.923 202.85 242.923 201.125C242.923 199.399 244.3 198 245.999 198C247.7 198 249.077 199.399 249.077 201.125Z')
									g.b-all-map-filial__mark(data-city='Кокшетау' data-phone='+7 (7162) 901145' data-mail='kokshetau@gkws.kz' )
										rect(x='268' y='40' width='8' height='7' fill='white')
										path(fill-rule='evenodd' clip-rule='evenodd' d='M275.578 51.0577C274.382 52.2167 273.112 53.4478 272 55C270.889 53.4483 269.619 52.2173 268.423 51.0582C266.067 48.7759 264 46.7723 264 43.1482C264 38.479 267.417 35 272 35C276.584 35 280 38.479 280 43.1481C280 46.7727 277.933 48.7755 275.578 51.0577ZM275.077 43.125C275.077 44.8502 273.7 46.25 271.999 46.25C270.3 46.25 268.923 44.8502 268.923 43.125C268.923 41.3986 270.3 40 271.999 40C273.7 40 275.077 41.3986 275.077 43.125Z')
					.p-about__wrap-text.b-all-map-filial__wrap-text
						p Мы привезем заказ в любой регион России и стран СНГ: Азербайджана, Армении, Белоруссии, Казахстана, Киргизии, Молдавии, Таджикистана, Узбекистана.
						p “Велунд Сталь” принимает заявки из труднодоступных мест и доставляет грузы в регионы Крайнего Севера. Мы содержим автопарк, чтобы выполнять сложные заказы.
				.p-about__about-block
					.p-about__about-text
						h2.txt--bld24 Участие в тендерах
						p
							| Велунд Сталь участвует в тендерах на поставку металлопроката, сырья и оборудования. Высылайте конкурсные приглашения к участию и инструкции на электронную почту 
							a.txt--clr1(href='mailto:#{current_filial.email}')=current_filial.email
					.p-about__about-img
						img(src='#{static_url}images/content/tender.jpg', alt='Участие в тендерах')
				.p-about__about-block
					.p-about__about-img
						img(src='#{static_url}images/content/history.jpg', alt='История названия бренда')
					.p-about__about-text
						h2.txt--bld24 История названия бренда
						p В скандинавских мифах почитали бога-кузнеца Велунда.  Легенда гласит, что он был покровителя кузнецов и ювелиров, наделяя волшебными свойствами оружие и украшения.
						p Группа компаний “Велунд Сталь” получила название в честь него, потому что наша сила в умении выпускать продукцию, которая прослужит долгие годы.