section.p-product-listing#page(data-base-url=current_menu.url)
	.container-xxl
		.p-product-listing__title
			h1.txt--bld40=current_menu.name
			.count-listing=product_list_count
		.p-product-listing__filters.p-all-filters
			.filters-slider-container.swiper-container
				.swiper-wrapper
					.swiper-slide
						button.filter.filter-all.btn.btn--br50.btn--gray(data-filter='all') Все фильтры
					.swiper-slide
						button.filter.filter-price.btn.btn--br50.btn--gray(data-filter='price') Только с ценой
					if not current_menu.is_hide_marka
						.swiper-slide
							button.filter.btn.btn--br50.btn--gray(data-filter='mark') Марка
								.filter__delete
									+icon('close')
					if not current_menu.is_hide_standart
						.swiper-slide
							button.filter.btn.btn--br50.btn--gray(data-filter='gost') ГОСТ
								.filter__delete
									+icon('close')
					if current_menu.label_param1
						.swiper-slide
							if param_1
								button.filter.btn.btn--br50.btn--gray(data-filter='')=param_1_name
									.filter__delete
										+icon('close')
							elif current_menu.ed_izm_param1
								button.filter.btn.btn--br50.btn--gray(data-filter='')=current_menu.ed_izm_param1
									.filter__delete
										+icon('close')
							else
								button.filter.btn.btn--br50.btn--gray(data-filter='')=current_menu.label_param1
									.filter__delete
										+icon('close')
					if current_menu.label_param2
						.swiper-slide
							if param_2
								button.filter.btn.btn--br50.btn--gray(data-filter='')=param_2_name
									.filter__delete
										+icon('close')
							elif current_menu.ed_izm_param2
								button.filter.btn.btn--br50.btn--gray(data-filter='')=current_menu.ed_izm_param2
									.filter__delete
										+icon('close')
							else
								button.filter.btn.btn--br50.btn--gray(data-filter='')=current_menu.label_param2
									.filter__delete
										+icon('close')
					if current_menu.label_param3
						.swiper-slide
							if param_3
								button.filter.btn.btn--br50.btn--gray(data-filter='')=param_3_name
									.filter__delete
										+icon('close')
							elif current_menu.ed_izm_param3
								button.filter.btn.btn--br50.btn--gray(data-filter='')=current_menu.ed_izm_param3
									.filter__delete
										+icon('close')
							else
								button.filter.btn.btn--br50.btn--gray(data-filter='')=current_menu.label_param3
									.filter__delete
										+icon('close')
					if current_menu.label_param4
						.swiper-slide
							if param_4
								button.filter.btn.btn--br50.btn--gray(data-filter='')=param_4_name
									.filter__delete
										+icon('close')
							elif current_menu.ed_izm_param4
								button.filter.btn.btn--br50.btn--gray(data-filter='')=current_menu.ed_izm_param4
									.filter__delete
										+icon('close')
							else
								button.filter.btn.btn--br50.btn--gray(data-filter='')=current_menu.label_param4
									.filter__delete
										+icon('close')
					if current_menu.label_param5
						.swiper-slide
							if param_5
								button.filter.btn.btn--br50.btn--gray(data-filter='')=param_5_name
									.filter__delete
										+icon('close')
							elif current_menu.ed_izm_param5
								button.filter.btn.btn--br50.btn--gray(data-filter='')=current_menu.ed_izm_param5
									.filter__delete
										+icon('close')
							else
								button.filter.btn.btn--br50.btn--gray(data-filter='')=current_menu.label_param5
									.filter__delete
										+icon('close')
					if current_menu.label_param6
						.swiper-slide
							if param_6
								button.filter.btn.btn--br50.btn--gray(data-filter='')=param_6_name
									.filter__delete
										+icon('close')
							elif current_menu.ed_izm_param6
								button.filter.btn.btn--br50.btn--gray(data-filter='')=current_menu.ed_izm_param6
									.filter__delete
										+icon('close')
							else
								button.filter.btn.btn--br50.btn--gray(data-filter='')=current_menu.label_param6
									.filter__delete
										+icon('close')
					if current_menu.label_param7
						.swiper-slide
							if param_7
								button.filter.btn.btn--br50.btn--gray(data-filter='')=param_7_name
									.filter__delete
										+icon('close')
							elif current_menu.ed_izm_param7
								button.filter.btn.btn--br50.btn--gray(data-filter='')=current_menu.ed_izm_param7
									.filter__delete
										+icon('close')
							else
								button.filter.btn.btn--br50.btn--gray(data-filter='')=current_menu.label_param7
									.filter__delete
										+icon('close')
			.filters-swiper-scrollbar
		.row
			.col-xl-9
				.row
					if product_list
						each product in product_list
							.col-lg-3.col-md-4.col-sm-6
								include  ../../modules/cards/stocks-card/stocks-card
					.col-12
						.custom-product
							.custom-product__content
								.custom-product__img
									img(src='#{static_url}images/general/logo-cust-prod.svg', alt='Велунд')
								p.custom-product__text Мы можем сделать изделие на заказ из любого металла
								a.custom-product__link.btn.btn--circle(href='#')
									+icon('arrow-right')
					.col-12
						.download-button.btn.btn--gray.btn--br50 Показать еще
						include ../../modules/pagination/pagination
			.col-xl-3
				include ../../modules/scroll-sidebar/scroll-sidebar-listing