.basket-card-service.basket-card-modal
	.basket-card-service__left
		.basket-card-service__img
			img(src='#{media_url}#{item.product.image}', alt=item.product.name)
	.basket-card-service__right
		.basket-card-service__info
			.basket-card-service__subtitle Услуга
			a.basket-card-service__text(href='#{item.product.get_absolute_url}')=item.product.name
		.basket-card-manufacturing__wrap
			if item.product.price
				.basket-card-service__info
					.basket-card-service__subtitle Цена
					.basket-card-service__text=item.product.price
			else
				.basket-card-service__info
					.basket-card-service__subtitle Цена
					.basket-card-service__text.hint
						| Договорная
						+icon('hint')
			button.basket-card-service__remove.remove-basket-card(type='button')
				+icon('remove')