.product-content
	.product-content__content
		.product-content__slider
			.product-content__thumbs
				button.product-slider__prev
					+icon('arrow-up')
				button.product-slider__next
					+icon('arrow-up')
				.product-slider-thumbs.swiper-container
					.swiper-wrapper
						.swiper-slide
							.product-slider-thumbs__item
								.product-slider-thumbs__img
									img(src='#{media_url}#{product.image}' alt=product.name)
						.swiper-slide
							.product-slider-thumbs__item
								.product-slider-thumbs__img
									img(src='#{media_url}#{product.image_2}' alt=product.name)
			.product-slider.swiper-container
				.swiper-wrapper
					.swiper-slide
						.product-slider__img
							img(src='#{media_url}#{product.image}' alt=product.name)
					.swiper-slide
						.product-slider__img
							img(src='#{media_url}#{product.image_2}' alt=product.name)
				.product-slider__pagination.swiper-pagination
		.product-content__description
			h3.product-content__title.txt--bld20 Коротко о товаре
			ul.product-content__list
				if product.marka and not current_menu.is_hide_marka
					li
						span Марка
						span=product.marka
				if product.standart and not current_menu.is_hide_standart
					li
						span ГОСТ
						span=product.standart
				if current_menu.label_param1 and product.param_1
					li
						if current_menu.ed_izm_param1
							span=current_menu.ed_izm_param1
						else
							span=current_menu.label_param1
						span=product.param_1
				if current_menu.label_param2 and product.param_2
					li
						if current_menu.ed_izm_param2
							span=current_menu.ed_izm_param2
						else
							span=current_menu.label_param2
						span=product.param_2
					li.product-content__more-description.txt--clr1
						a(href='#tabs') Все характеристики
	nav.product-content__mark
		h3.product-content__mark-title.txt--smbld18 Этот товар других марок
		ul
			li
				a(href='#') 05Х16Н5АБ
			li
				a(href='#') 521-03.127
			li
				a(href='#') 05Х15АБ
			li
				a(href='#') 05Х16Н56Н5АБ
			li
				a(href='#') 05Х05Х16Н5АБ
			li
				a(href='#') 05Х16Н5АБ
			li
				a(href='#') 05Х16Н05Х16Н5АБ
			li
				a(href='#') 05
			li
				a(href='#') 05Х1
			li
				a(href='#') 05Х16Н505Х16Н5АБАБ
			li
				a(href='#') 05Х05Х16Н5АБН5А
			li
				a(href='#') 05Х16Н5АБ
	.product-content__sidebar
		include ../../modules/scroll-sidebar/scroll-sidebar-product