.product-tabs
	.product-tabs__tabs.tabs
		.tabs__nav
			button.tabs__nav-item(type='button') Описание
			button.tabs__nav-item(type='button') Все характеристики
			button.tabs__nav-item(type='button') Оплата и доставка
		.tabs__content
			.product-tabs__description.tabs__content-item
				h2 Описание
				p 
					| Цена бесшовной трубы 38х3 рассчитывается за тонну, при заказе от 10 тонн. На оптовые поставки со склада действует система скидок, которую Вы можете уточнить у нашего менеджера. На транзитные позиции с завода-производителя стоимость 
					a(href='#') трубы бесшовной 38х3 
					| зависит от марки стали, диаметра, толщины стенки и особых требований покупателя к данному товару. При обращении в нашу компанию Вы получаете:
				ul
					li 05Х12Н6Д2МФСГТ
					li 11Х4В2МФ3С2
					li 11ХФ
					li 27Х2Н2М1Ф
					li 2Х6В8М2К8
					li 3Х2МНФ
				img(src='#{static_url}images/content/product-img.jpg', alt='')
				p Цена бесшовной трубы 38х3 рассчитывается за тонну, при заказе от 10 тонн. На оптовые поставки со склада действует система скидок, которую Вы можете уточнить у нашего менеджера. На транзитные позиции с завода-производителя стоимость трубы бесшовной 38х3 зависит от марки стали, диаметра, толщины стенки и особых требований покупателя к данному товару. При обращении в нашу компанию Вы получаете:
				p Цена бесшовной трубы 38х3 рассчитывается за тонну, при заказе от 10 тонн. На оптовые поставки со склада действует система скидок, которую Вы можете уточнить у нашего менеджера. На транзитные позиции с завода-производителя стоимость трубы бесшовной 38х3 зависит от марки стали, диаметра, толщины стенки и особых требований покупателя к данному товару. При обращении в нашу компанию Вы получаете:
			.product-tabs__specification.tabs__content-item
				h2 Все характеристики
				table
					tbody
						if product.marka and not current_menu.is_hide_marka
							tr
								td
									span Марка
								td=product.marka
						if product.standart and not current_menu.is_hide_standart
							tr
								td
									span ГОСТ
								td=product.standart
						if current_menu.label_param1 and product.param_1
							tr
								if current_menu.ed_izm_param1
									td
										span=current_menu.ed_izm_param1
								else
									td
										span=current_menu.label_param1
								td=product.param_1
						if current_menu.label_param2 and product.param_2
							tr
								if current_menu.ed_izm_param2
									td
										span=current_menu.ed_izm_param2
								else
									td
										span=current_menu.label_param2
								td=product.param_2
						if current_menu.label_param3 and product.param_3
							tr
								if current_menu.ed_izm_param3
									td
										span=current_menu.ed_izm_param3
								else
									td
										span=current_menu.label_param3
								td=product.param_3
						if current_menu.label_param4 and product.param_4
							tr
								if current_menu.ed_izm_param4
									td
										span=current_menu.ed_izm_param4
								else
									td
										span=current_menu.label_param4
								td=product.param_4
						if current_menu.label_param5 and product.param_5
							tr
								if current_menu.ed_izm_param5
									td
										span=current_menu.ed_izm_param5
								else
									td
										span=current_menu.label_param5
								td=product.param_5
						if current_menu.label_param6 and product.param_6
							tr
								if current_menu.ed_izm_param6
									td
										span=current_menu.ed_izm_param6
								else
									td
										span=current_menu.label_param6
								td=product.param_6
						if current_menu.label_param7 and product.param_7
							tr
								if current_menu.ed_izm_param7
									td
										span=current_menu.ed_izm_param7
								else
									td
										span=current_menu.label_param7
								td=product.param_7
			.product-tabs__delivery.tabs__content-item
				h2 Оплата и доставка
				p Доставка металлопроката и металлический изделий точно в срок – основной принцип Компании «СтальПро». Мы постоянно совершенствуем логистику грузоперевозок.
				p На сегодняшний день в «СтальПро»:
				ul
					li Отгрузка выполняется с ближайшего к Вам склада в Москве и Московской области.
					li Сбор нужной продукции производится в одном месте, что значительно сокращает время подготовки заказа.
					li Заказ отправляется в тот же день, когда мы получили оплату, независимо от объема.
					li Металл доставляется 7 дней в неделю при любых погодных условиях.
					li Главное - мы работаем только с надежными транспортными компаниями.
