footer.footer
	.container-xxl
		//- .row
			.col-3
			.col-4
		.footer__top
			.footer__left
				.footer__wrap-left
					a.footer__logo.logo(href='/')
						.logo__img
							img(src='#{static_url}images/general/logo-min.svg', alt='Велунд сталь')
						.logo__text
							img(src='#{static_url}images/general/logo-text.svg', alt='Велунд сталь')
					.footer__social
						a.footer__social-link.btn.btn--circle.btn--trparent(href='#', target='_blank')
							+icon('inst')
						a.footer__social-link.btn.btn--circle.btn--trparent(href='#', target='_blank')
							+icon('fb')
						a.footer__social-link.btn.btn--circle.btn--trparent(href='#', target='_blank')
							+icon('vk')
						a.footer__social-link.btn.btn--circle.btn--trparent(href='#', target='_blank')
							+icon('youtube')
						a.footer__social-link.btn.btn--circle.btn--trparent(href='#', target='_blank')
							+icon('ok')
				nav.footer__nav
					ul.footer__nav-list.txt--mdm14
						each item in menu_list_footer_left
							li
								a(href=item.url)=item.name
							//- li
							//- 	a(href='#') Каталог
							//- li
							//- 	a(href='#') Акции
							//- li
							//- 	a(href='#') Производство
							//- li
							//- 	a(href='#') Услуги
							//- li
							//- 	a(href='#') Доставка
							//- li
							//- 	a(href='#') О нас
							//- li
							//- 	a(href='#') Блог
							//- li
							//- 	a(href='#') Новости
							//- li
							//- 	a(href='#') Вакансии
							//- li
							//- 	a(href='#') Контакты
			.footer__right
				.footer__contacts
					.footer__col
						a.txt--mdm16(href='tel:+#{current_filial.phone}')=current_filial.phone
						a.txt--mdm14(href='tel:+#{current_filial.phone}')=current_filial.phone
					.footer__col
						a.txt--mdm16(href='mailto:#{current_filial.email}')=current_filial.email
						.footer__timetable.txt--mdm14 Пн-Пт с 9:00 до 19:00
				.footer__address
					.footer__address-title.txt--mdm16=current_filial.name
					.footer__address-location.txt--mdm14=current_filial.address
		.footer__bottom.txt--mdm12
			.footer__group © Группа компаний «Велунд сталь» 2020
			a.footer__policy(href='#', target='_blank') Политика конфиденциальности
