if news.image
	a.news-card.news-card--big(href='{% url "news:detail" news.slug %}')
		.news-card__img
			img(src='#{static_url}#{news.image}', alt=news.name)
		.news-card__title=news.name
		.news-card__text=news.description
		time.news-card__time(datetime=news.date)=news.date
		.news-card__btn.btn.btn--circle.btn--trparent-svg
			+icon('arrow-right')
else
	a.news-card(href='{% url "news:detail" news.slug %}')
		.news-card__title=news.name
		.news-card__text=news.description
		time.news-card__time(datetime=news.date)=news.date
		.news-card__btn.btn.btn--circle.btn--trparent-svg
			+icon('arrow-right')